.DS_Store
log/*.log
tmp/**/*
config/database.yml
db/*.sqlite3
doc/api
doc/app
log/*.pid
log/call_*
db/schema.rb
db/*.bkp
*.swp
*~
index/**/*
devel/**/*
public/images/uploaded_images/**/*