body {
	background: #000109 url('../../images/interface/themes/drive_in/bodybg.jpg') repeat-x top;
}
#outside {
	background: url('../../images/interface/themes/drive_in/bgbottom.png') bottom center no-repeat;
}
.content_top {
	height: 6px;
	background: url('../../images/interface/themes/drive_in/bgtop.png') center center no-repeat;
}
#content {
	background: url('../../images/interface/themes/drive_in/bgrepeat.png') top  repeat-y; /*transparent;#f9fffd;*/
}
.button {
	background: url('../../images/interface/themes/drive_in/bodybg.png') repeat-x top;
}
.big_button {
	background: url('../../images/interface/themes/drive_in/bodybg.png') repeat-x top;
}
.quick_search {
	background: url('../../images/interface/themes/drive_in/bodybg.png') repeat-x top;
}
