<h1 class="hidden_link"><%=link_to_remote "Featured Activity", :update => :feat_activity, :url => {:action => :index} %></h1>
<div id="feat_activity">
	<%= render :partial => "activity_medium", :locals => { :activity => @featured_activity} %>
</div>
<br /><br />
<%= image_tag "badge.png", :alt => "Cheap", :title => "Cheap" %>